<%- include('../partials/header'); %>

    <main class="main text-uppercase" id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="https://media.licdn.com/dms/image/D4D12AQG61Usi4yw4Vg/article-cover_image-shrink_600_2000/0/1679901120600?e=2147483647&v=beta&t=Ldiw_gFeoCkaenSfkyVOkN2ZO6hJYJxt_KMCkyKNS_M" alt="2d vs 3d image" class="mt-4">
                </div>
            </div>
        </div>
    </main>

<%- include('../partials/footer'); %>